In [1]:
# Initial imports.
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Loading data
stroke_df = pd.read_csv("Brain_Stroke_Data/full_data.csv")
stroke_df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [3]:
stroke_df['stroke'].value_counts(normalize=True)

0    0.950211
1    0.049789
Name: stroke, dtype: float64

In [4]:
stroke_df['stroke'].value_counts()

0    4733
1     248
Name: stroke, dtype: int64

### SMOTE Analysis

In [5]:
!pip install imblearn

Requirement already satisfied: imblearn in /Users/aimeelewis/opt/anaconda3/lib/python3.9/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/aimeelewis/opt/anaconda3/lib/python3.9/site-packages (from imblearn) (0.9.1)
Requirement already satisfied: joblib>=1.0.0 in /Users/aimeelewis/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/aimeelewis/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: scikit-learn>=1.1.0 in /Users/aimeelewis/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.1.2)
Requirement already satisfied: scipy>=1.3.2 in /Users/aimeelewis/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/aimeelewis/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.21.5)

In [6]:
from imblearn.over_sampling import SMOTE

### Undersampling

In [7]:
#df_1 = df[df['stroke']==1]

In [8]:
#df_0 = df[df['stroke']==0].sample(248)

In [9]:
#final_df = pd.concat([df_0, df_1], axis=0)

In [10]:
#final_df['stroke'].value_counts()

In [11]:
#final_df

In [12]:
stroke_df.dtypes

gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [13]:
stroke_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

In [14]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [15]:
#stroke_df = final_df.copy()

In [16]:
gender=enc.fit_transform(stroke_df['gender'])
smoking_status=enc.fit_transform(stroke_df['smoking_status'])
work_type=enc.fit_transform(stroke_df['work_type'])
Residence_type=enc.fit_transform(stroke_df['Residence_type'])
ever_married=enc.fit_transform(stroke_df['ever_married'])

In [17]:
stroke_df['ever_married']=ever_married
stroke_df['Residence_type']=Residence_type
stroke_df['smoking_status']=smoking_status
stroke_df['gender']=gender
stroke_df['work_type']=work_type

In [18]:
stroke_df[['ever_married', 'Residence_type', 'smoking_status', 'gender', 'work_type']].head()

   ever_married  Residence_type  smoking_status  gender  work_type
0             1               1               1       1          1
1             1               0               2       1          1
2             1               1               3       0          1
3             1               0               2       0          2
4             1               1               1       1          1

In [19]:
stroke_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   int64
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   int64
 5   work_type          4981 non-null   int64
 6   Residence_type     4981 non-null   int64
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   int64
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(8)
memory usage: 428.2 KB

In [20]:
X = stroke_df.drop(columns = ['stroke'])
y = stroke_df['stroke']

In [21]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X, y)

In [34]:
(y_resampled)

0       1
1       1
2       1
3       1
4       1
       ..
9461    1
9462    1
9463    1
9464    1
9465    1
Name: stroke, Length: 9466, dtype: int64

In [35]:
X_resampled

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,1,1,228.69,36.6,1
1,1,80.0,0,1,1,1,0,105.92,32.5,2
2,0,49.0,0,0,1,1,1,171.23,34.4,3
3,0,79.0,1,0,1,2,0,174.12,24.0,2
4,1,81.0,0,0,1,1,1,186.21,29.0,1
...,...,...,...,...,...,...,...,...,...,...
9461,0,57.0,0,0,0,2,1,68.02,37.5,2
9462,0,82.0,1,0,1,2,1,196.92,22.2,2
9463,1,74.0,0,0,1,1,1,167.13,28.7,0
9464,0,70.0,0,0,1,1,1,221.58,47.5,2
9465,0,57.0,0,0,1,0,1,110.52,28.5,0

In [32]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, random_state=78)

In [33]:
X_train.shape

(7099, 10)

In [23]:
#X_resampled, y_resampled = SMOTE(random_state=1,
#sampling_strategy='minority').fit_resample(
   #X_train, y_train)

In [24]:
from collections import Counter

In [26]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [27]:
# Fitting the model
rf_model = rf_model.fit(X_test, y_test)

In [28]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test)

In [29]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [30]:
# Displaying results
print("Confusion Matrix")
display(stroke_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.6,1,1
1,1,80.0,0,1,1,1,0,105.92,32.5,2,1
2,0,49.0,0,0,1,1,1,171.23,34.4,3,1
3,0,79.0,1,0,1,2,0,174.12,24.0,2,1
4,1,81.0,0,0,1,1,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,1,41.0,0,0,0,1,0,70.15,29.8,1,0
4977,1,40.0,0,0,1,1,1,191.15,31.1,3,0
4978,0,45.0,1,0,1,0,0,95.02,31.8,3,0
4979,1,40.0,0,0,1,1,0,83.94,30.0,3,0
4980,0,80.0,1,0,1,1,1,83.75,29.1,2,0

Accuracy Score : 1.0
Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1203
           1       1.00      1.00      1.00      1164

    accuracy                           1.00      2367
   macro avg       1.00      1.00      1.00      2367
weighted avg       1.00      1.00      1.00      2367