In [4]:
# Initial imports.
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [5]:
# Loading data
stroke_df = pd.read_csv("Brain_Stroke_Data/full_data.csv")
stroke_df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [6]:
stroke_df.dtypes

gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [7]:
stroke_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

In [15]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [16]:
gender=enc.fit_transform(stroke_df['gender'])
smoking_status=enc.fit_transform(stroke_df['smoking_status'])
work_type=enc.fit_transform(stroke_df['work_type'])
Residence_type=enc.fit_transform(stroke_df['Residence_type'])
ever_married=enc.fit_transform(stroke_df['ever_married'])

In [17]:
stroke_df['ever_married']=ever_married
stroke_df['Residence_type']=Residence_type
stroke_df['smoking_status']=smoking_status
stroke_df['gender']=gender
stroke_df['work_type']=work_type

In [18]:
stroke_df[['ever_married', 'Residence_type', 'smoking_status', 'gender', 'work_type']].head()

   ever_married  Residence_type  smoking_status  gender  work_type
0             1               1               1       1          1
1             1               0               2       1          1
2             1               1               3       0          1
3             1               0               2       0          2
4             1               1               1       1          1

In [19]:
stroke_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   int64
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   int64
 5   work_type          4981 non-null   int64
 6   Residence_type     4981 non-null   int64
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   int64
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(8)
memory usage: 428.2 KB

In [10]:
X = stroke_df.drop(columns = ['stroke'])
y = stroke_df['stroke']

In [11]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [14]:
# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

ValueError: could not convert string to float: 'Male'

In [ ]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test)

In [ ]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))